@model Wodin.Models.Empresa

@{
    ViewData["Title"] = "Editar Empresa";
}

<h2>@ViewData["Title"]</h2>
<h4>@ViewData["Message"]</h4>
<hr />
<div class="row">

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-md-4">
            <input type="hidden" asp-for="Id" />
            <label asp-for="Database" class="control-label"></label>
            <input asp-for="Database" class="form-control" />
            <span asp-validation-for="Database" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="CNPJ" class="control-label"></label>
            <input asp-for="CNPJ" class="form-control" placeholder="CNPJ da empresa" onkeypress="return SomenteNumero(event);" onBlur="ValidarCPForCNPJ(this,this.value);" onkeyup="FormataCPForCNPJ(this,event);" maxlength="18" />
            <span asp-validation-for="CNPJ" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="IE" class="control-label"></label>
            <input asp-for="IE" class="form-control" />
            <span asp-validation-for="IE" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="RazaoSocial" class="control-label"></label>
            <input asp-for="RazaoSocial" class="form-control" />
            <span asp-validation-for="RazaoSocial" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Fantasia" class="control-label"></label>
            <input asp-for="Fantasia" class="form-control" />
            <span asp-validation-for="Fantasia" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="DataAbertura" class="control-label"></label>
            <input asp-for="DataAbertura" class="form-control" />
            <span asp-validation-for="DataAbertura" class="text-danger"></span>
        </div>
        <div class="form-group col-md-5">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group col-md-5">
            <label asp-for="Website" class="control-label"></label>
            <input asp-for="Website" class="form-control" />
            <span asp-validation-for="Website" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="CEP" class="control-label"></label>
            <input asp-for="CEP" class="form-control" maxlength="9" />
            <span asp-validation-for="CEP" class="text-danger"></span>
        </div>
        <div class="form-group col-md-1">
            <label asp-for="Uf" class="control-label"></label>
            <input asp-for="Uf" class="form-control" maxlength="2" />       @*<select asp-for="Uf" class="form-control" asp-items="Html.GetEnumSelectList<SalesWebMvc.Models.Enums.UF>()"></select>*@
            <span asp-validation-for="Uf" class="text-danger"></span>
        </div>
        <div class="form-group col-md-8">
            <label asp-for="Cidade" class="control-label"></label>
            <input asp-for="Cidade" class="form-control" />
            <span asp-validation-for="Cidade" class="text-danger"></span>
        </div>
        <div class="form-group col-md-1">
            <label asp-for="IBGE" class="control-label"></label>
            <input asp-for="IBGE" class="form-control" />
            <span asp-validation-for="IBGE" class="text-danger"></span>
        </div>
        <div class="form-group col-md-10">
            <label asp-for="Logradouro" class="control-label"></label>
            <input asp-for="Logradouro" class="form-control" />
            <span asp-validation-for="Logradouro" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="Numero" class="control-label"></label>
            <input asp-for="Numero" class="form-control" style="text-align: right" />
            <span asp-validation-for="Numero" class="text-danger"></span>
        </div>
        <div class="form-group col-md-12">
            <label asp-for="Complemento" class="control-label"></label>
            <input asp-for="Complemento" class="form-control" />
            <span asp-validation-for="Complemento" class="text-danger"></span>
        </div>
        <div class="form-group col-md-12">
            <label asp-for="Bairro" class="control-label"></label>
            <input asp-for="Bairro" class="form-control" />
            <span asp-validation-for="Bairro" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Unidade" class="control-label"></label>
            <input asp-for="Unidade" class="form-control" />
            <span asp-validation-for="Unidade" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="GIA" class="control-label"></label>
            <input asp-for="GIA" class="form-control" />
            <span asp-validation-for="GIA" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="DataCadastro" class="control-label"></label>
            <input asp-for="DataCadastro" class="form-control" readonly="readonly" />
            <span asp-validation-for="DataCadastro" class="text-danger"></span>
        </div>
        <div class="form-group col-md-12">
            <div class="checkbox">
                <label>
                    <input asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
        </div>
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Salvar</button>
            <a asp-action="Index" class="btn btn-primary"><span class="glyphicon glyphicon-th-list"></span> Voltar</a>
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}